.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.fade {
  transition: opacity 0.5s ease; /* Adjust fade duration as needed */
  opacity: 1;
}

/* Fade-out class to make the div invisible */
.fade-out {
  opacity: 0; /* Set opacity to 0 to make it invisible */
  pointer-events: none; /* Prevent interaction when faded out */
}

/* Optional: make the div completely hidden when faded out */
.fade-out.invisible {
  display: none; /* Hides div completely */
}