<div class="modal-header">
  <h4 class="modal-title">Add Order</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <form [formGroup]="orderForm">
      <div class="row">
        <div class="col-3">
          <div class="input-group input-group-md mb-3">
            <span class="input-group-text" id="inputGroup-sizing-md">Name</span>
            <input type="text" class="form-control form-control-md" id="customerName" formControlName="customerName" placeholder="Enter customer name">
          </div>
        </div>
        <div class="col">
          <div class="input-group input-group-md mb-3">
            <span class="input-group-text" id="inputGroup-sizing-md">Address</span>
            <input class="form-control form-control-md" id="address" formControlName="address" placeholder="Enter address">
          </div>
        </div>
        <div class="col-3">
          <div class="input-group input-group-md mb-3">
            <span class="input-group-text" id="inputGroup-sizing-md">Mobile #</span>
            <input type="text" class="form-control form-control-md" id="mobileNumber" formControlName="mobileNumber" placeholder="Enter mobile number">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="input-group input-group-md mb-3">
            <span class="input-group-text" id="inputGroup-sizing-md">Order Date</span>
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              formControlName="orderDate"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
        <div class="col-3">
          <div class="input-group input-group-md mb-3">
            <span class="input-group-text" id="inputGroup-sizing-md">Time</span>
            <select class="form-select" formControlName="orderTime">
              <option selected>{{orderForm.controls['orderTime'].value}}</option>
              <option *ngFor="let time of meridianTimeList">
                {{time}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row mb-3">
            <div class="col">
              <ng-container *ngFor="let type of filters | keyvalue">
                <button class="btn btn-outline-primary me-2" (click)="filterMenu(type)">{{type.value}}</button>
              </ng-container>
              <button class="btn btn-outline-primary me-2" (click)="removeFilter()">
                <i class="bi bi-arrow-clockwise"></i>
              </button>
            </div>
          </div>
          <!--Menu items-->
          <div class="row">
            <ng-container *ngIf="filteredMenu$ | async as menu">
              <div *ngFor="let category of menu | keyvalue">
                <div class="border-bottom mb-3">
                  <h5>{{category.value[0].category}}</h5>
                </div>
                <div class="row">
                  <div class="col-4 col-xl-3 pb-3" *ngFor="let product of category.value; let i = index">
                    <div class="card">
                      <div class="card-body p-0 text-center">
                        <div class="title" (click)="addOrder(product.name, product.price, product.size)">
                          <label class="card-title mt-2">{{product.name}}</label>
                        </div>
                        <div class="btn-group w-100">
                          <button type="button" class="btn btn-secondary no-border-radius-top text-end pe-0"
                            [ngClass]="{'border-radius-bottom-right': product.pricing.length <= 1, 'text-end pe-0': product.pricing.length > 1}"
                            (click)="addOrder(product.name, product.price, product.size)">
                            {{product.size}} - {{product.price}}
                          </button>
                          <button *ngIf="product.pricing.length > 1" type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split no-border-radius-top" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                            <span class="visually-hidden">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                            <li *ngFor="let pricing of product.pricing">
                              <a class="dropdown-item" (click)="itemChangeSze(category.key, product, pricing.size, pricing.price)">{{pricing.size}} - {{pricing.price}}</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-4 border-left">
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  Orders
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body p-1">
                  <ng-container formArrayName="items">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" (click)="toggleEditItems()">
                      <label class="form-check-label" for="flexSwitchCheckDefault" (value)="editItems">Toggle to edit</label>
                    </div>
                    <ul class="list-group list-group-flush items">
                      <li class="list-group-item ps-1" *ngFor="let item of items.controls; index as i" [formGroup]="item">
                        <div class="container-fluid p-0">
                          <div class="d-flex float-start" *ngIf="editItems">
                            <a class="text-decoration-none text-success" (click)="addQuantity(i)">
                              <i class="bi bi-plus-lg"></i>
                            </a>
                          </div>
                          <label>{{item.value.quantity}}x {{item.value.id}}</label>
                          <a class="text-decoration-none" *ngIf="editItems">
                            <i class="bi bi-pencil-square" (click)="activateNotes(i)"></i>
                          </a>
                          <div class="d-flex float-end">
                            <label>{{item.value.price}}</label>
                            <a class="text-decoration-none text-danger"  *ngIf="editItems" (click)="deleteItem(i)">
                              <i class="bi bi-x-lg"></i>
                            </a>
                          </div>
                        </div>
                        <div class="ms-3" *ngIf="item.value.enableNotes">
                          <input class="form-control form-control-sm" formControlName="notes">
                        </div>
                      </li>
                    </ul>
                  </ng-container>
                  <ng-container formArrayName="subItems">
                    <ul class="list-group list-group-flush items">
                      <li class="list-group-item ps-1">
                        <b>Subtotal</b>
                        <a class="text-decoration-none text-success" (click)="addSubItem()">
                          <i class="bi bi-plus-lg"></i>
                        </a>
                        <label class="float-end"> {{ orderForm.controls['subTotal'].value }} </label>
                      </li>
                      <li class="list-group-item ps-1 pe-1" *ngFor="let item of subItems.controls; index as i" [formGroup]="item">
                        <div class="input-group input-group-sm">
                          <input type="text" class="form-control w-50" formControlName="text" [ngbTypeahead]="search" #instance="ngbTypeahead"
                            (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)">
                          <span class="input-group-text">₱</span>
                          <input type="number" class="form-control text-end" formControlName="price">
                        </div>
                      </li>
                    </ul>  
                  </ng-container>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item ps-1">
                      <div>
                        <b>Total</b>
                        <label class="float-end"> {{ orderForm.controls['total'].value }} </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="save()" [disabled]="this.isSaving">
    Save
    <span class="spinner-border spinner-border-sm" role="status" [hidden]="!this.isSaving"></span>
  </button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>