<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../assets/quebecs-logo.png" style="height: 30px;"></a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" (click)="toggleNavbar()">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orders" routerLinkActive="active" (click)="toggleNavbar()">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active" (click)="toggleNavbar()">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customers" routerLinkActive="active" (click)="toggleNavbar()">Customers</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item">Action</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<router-outlet></router-outlet>

