<div class="container-fluid">
  <div class="row">
		<div class="col">
			<h3>Products</h3>
		</div>
  </div>
	<div class="row">
		<div class="col">
			<button type="button" class="btn btn-primary" (click)="openMenu()">Add Menu</button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<form>
				<div class="mb-3 row">
					<label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
					<div class="col-xs-3 col-sm-auto">
						<input
							id="table-complete-search"
							type="text"
							class="form-control"
							name="searchTerm"
						/>
					</div>
				</div>
			
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Scheduled Date</th>
							<th scope="col">Created on</th>
							<th scope="col">Last updated on</th>
						</tr>
					</thead>
					<tbody *ngIf="menuList">
						<tr *ngFor="let menu of menuList">
							<th scope="row"><a></a><button type="button" class="btn btn-link" (click)="openMenu(menu)">{{ menu.menuId }}</button></th>
							<td>{{ menu.scheduledDate | date:"YYYY/MM/dd" }}</td>
							<td>{{ menu.createdAt }}</td>
							<td>{{ menu.updatedAt }}</td>
						</tr>
					</tbody>
				</table>
			
				<div class="d-flex justify-content-between p-2">
					<!-- <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
					</ngb-pagination>
			
					<select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
						<option [ngValue]="2">2 items per page</option>
						<option [ngValue]="4">4 items per page</option>
						<option [ngValue]="6">6 items per page</option>
					</select> -->
				</div>
			</form>
		</div>
	</div>
</div>